.avatar {
	background-image: url("https://lh5.googleusercontent.com/-MlnvEdpKY2w/AAAAAAAAAAI/AAAAAAAAAFw/x6wHNLJmtQ0/s0-c-k-no-ns/photo.jpg");
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	background-size: cover;
	float: left;
	margin: 20px;
	border-radius: 50%;
}

div.komc {
	width: 350px;
	height: 75px;
	border: grey;
	border-radius: 25%;
	box-shadow: 10px 10px 8px grey;
	padding: 20px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
