div {
	display: inline-block;
	vertical-align: top;
	border: 1px solid red;
	margin-top: 10px;
	padding: 10px;
	overflow: auto;
}

.one {
	width: 300px;
	height: 500px;
	
}

.two {
	width: 400px;
	height: 200px;
	
}

a {
	display: block;
	margin: 20px;
}