* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.ojezu{
	width: 1000px;
	margin:0 auto;
	position: relative;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.obrazek {
	background: url("../images/jez.jpg") center / cover no-repeat white;
	width: 100px;
	height: 100px;
	float:left;
	border-radius: 50%;
}

.obrazek2 {
	background: url("../images/jez.jpg") center / cover no-repeat white;
	width: 100px;
	height: 100px;
	bottom: 0;
    right: 0;
    margin: -50px;
 	float:right;
	border-radius: 50%;
	position: absolute;
}

.opis2{
	border: 1px solid blue;
	padding: 20px;
}

.jez1 {
	background: url("../images/jez.jpg") center / cover no-repeat white;
	width:100px;
    height:100px;
    top: 0;
    left: 0;
    margin: 0;
    position:absolute;
    z-index:20;
    border-radius: 50%;
    
}
.jez2 {
	background: url("../images/jez.jpg") center / cover no-repeat white;
	width:100px;
    height:100px;
    top: 0;
    left: 50px;
    position:absolute;
    z-index:10;
    border-radius: 50%;
    margin: 0;
}

.kolo{
	width: 50px;
	height: 50px;
	border: 3px solid black;
	border-radius: 50%;
	position: absolute;
	top: -26px;
	left: 0;
	right: 0;
	margin:0 auto;
	background-color: white;
}

.kolko{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: -11px;
	left: 0;
	right: 0;
	margin:0 auto;

}
.label {
	position: relative;
	width: 200px;
	height: 300px;
	border: 3px solid black;
	margin: 30px;
}

h3 {
	display: block;
	margin-top: 50px;	
	text-align: center;
	position: relative;
	

}

.label p {
	padding: 15px;
	position: relative;	
	text-align: center;
	font-size: 10px;

}

button {
	display: block;
	width: 150px;
	height: 35px;
	background-color: black;
	color: white;
	position: relative;
	margin: 0 auto;


}

.rodziclabel .label {
	float: left;
}

